/* tomato cream */
@property --primary {
	syntax: "<color>";
	inherits: false;
	initial-value: #ce2939;
}

/* sun orange */
@property --primary-shadow {
	syntax: "<color>";
	inherits: false;
	initial-value: #ce293980;
}

/* golden palm */
@property --secondary {
	syntax: "<color>";
	inherits: false;
	initial-value: #aa8805;
}

@property --ternary {
	syntax: "<color>";
	inherits: false;
	initial-value: #f48037;
}

@property --valid {
	syntax: "<color>";
	inherits: false;
	initial-value: #1d991d;
}

@property --invalid {
	syntax: "<color>";
	inherits: false;
	initial-value: #b41619;
}