/* tomato cream */
@property --primary {
	syntax: "<color>";
	inherits: false;
	initial-value: #ce2939;
}

.primary {
	color: var(--primary);
}

/* sun orange */
@property --primary-shadow {
	syntax: "<color>";
	inherits: false;
	initial-value: #ce293980;
}

/* golden palm */
@property --secondary {
	syntax: "<color>";
	inherits: false;
	initial-value: #aa8805;
}

.secondary {
	color: var(--secondary);
}

@property --tertiary {
	syntax: "<color>";
	inherits: false;
	initial-value: #f48037;
}

.tertiary {
	color: var(--tertiary);
}

@property --valid {
	syntax: "<color>";
	inherits: false;
	initial-value: #1d991d;
}

@property --invalid {
	syntax: "<color>";
	inherits: false;
	initial-value: #b41619;
}