@font-face {
	font-family: 'futura';
	font-style: normal;
	src: url('../fonts/futura/futura-regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'futura';
	font-style: normal;
	src: url('../fonts/futura/futura-bold.ttf');
	font-weight: bold;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	text-align: center;
}
