@import url('../styles/colors.css');

.menu {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: black;
	z-index: 100;
	flex-direction: column;
	gap: 2rem;
	font-weight: 600;
	transition: 300ms;
}

.menu > * {
	transition: 300ms;
}

.hidden {
	z-index: -10;
	opacity: 0;
}

.nav-bar {
	top: 1rem;
	position: fixed;
	z-index: 1000;

	height: 6rem;
	max-width: 1920vw;
	width: 90%;
	justify-content: space-between;

	transition: 300ms;
}

.nav-bar a {
	height: 80%;

	@media screen and (max-width: 1000px) {
		height: 50%;
	}
}

.nav-bar a img {
	height: 100%;
	width: auto;
}

.nav-bar .page-links {
	gap: 5rem;
	justify-content: center;
	text-align: center;

	@media screen and (max-width: 1000px) {
		display: none;
	}
}

.nav-bar .menu-icon {
	display: none;
	cursor: pointer;
	transition: 300ms ease;

	@media screen and (max-width: 1000px) {
		display: block;
	}
}

.nav-bar .menu-icon:hover {
	transform: scale(1.05);
}

.nav-bar .page-links a {
	font-weight: normal;
	font-size: 1.25rem;
	text-decoration: none;
	color: white;
	transition: ease 120ms;
}

.nav-bar .page-links a:hover {
	transform: scale(1.05);
}

.hero {
	height: 100vh;
	width: 90vw;
	flex-direction: column;
	overflow: hidden;
}

.hero img {
	position: absolute;
	z-index: -1;
	width: 1000px;
	height: auto;

	@media screen and (max-width: 1000px) {
		width: 600px;
	}

	@media screen and (max-width: 600px) {
		width: 500px;
	}
}

.title {
	transform: translate(-3px, -3px);
	text-shadow: 6px 6px 0 var(--primary);

	@media screen and (max-width: 660px) {
		transform: translate(-1px, -1px);
		text-shadow: 4px 4px 0 var(--primary);
	}
}

.shadow {
	transform: translate(-2px, -2px);
	text-shadow: 4px 4px 0 var(--primary);

	@media screen and (max-width: 1000px) {
		transform: translate(-2px, -2px);
		text-shadow: 3px 3px 0 var(--primary);
	}

	@media screen and (max-width: 660px) {
		transform: translate(-1px, -1px);
		text-shadow: 2px 2px 0 var(--primary);
	}
}

.to-form-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 60%;
	height: fit-content;
	transition: 300ms ease-out;
	text-align: center;
}

.to-form-button a {
	width: fit-content;
	height: fit-content;
}

a .scroll-button {
	display: block;
	position: absolute;

	width: 200px;
	height: auto;
	z-index: 10;
	top: 80vh;
	margin-left: -100px;
	transition: 200ms ease;
}

a .scroll-button:hover {
	transform: scale(1.05);
}

.box {
	border-radius: 20px;
	box-sizing: border-box;
	padding: 1rem;

	flex-direction: column;
	justify-content: space-evenly;

	background-color: black;
	box-shadow: 0 0 32px 2px var(--primary-shadow);
}

#about {
	min-height: 100vh;
	width: 90vw;

	flex-direction: column;
	gap: 5rem;
	overflow: hidden;
}

#about-bg {
	position: absolute;
	z-index: -1;
}

#about .cards {
	width: 100%;
	height: fit-content;
	padding: 2rem 0;

	justify-content: space-evenly;
	flex-wrap: wrap;
	column-gap: 1rem;
	row-gap: 3rem;
}

#about .cards .card {
	width: 500px;
	height: 375px;

	@media screen and (max-width: 660px) {
		width: 300px;
		height: fit-content;
		gap: 1rem;
	}
}

#about .cards .card p {
	margin: 0;
	text-align: center;
}

#villa {
	min-height: 100vh;
	width: 90vw;
	flex-direction: column;
}

.villa-title {
	width: 100%;
	margin: 5rem 0;
}

.info-box {
	box-sizing: border-box;
	width: 650px;
	height: 400px;
	box-shadow: 0 0 32px 2px var(--primary-shadow);
	border-radius: 20px;

	@media screen and (max-width: 1000px) {
		width: 500px;
		height: auto;
	}

	@media screen and (max-width: 660px) {
		width: 300px;
	}
}

.villa-info {
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	gap: 4rem;
	flex-wrap: wrap;
}

.villa-info div p {
	text-align: center;
}

#form {
	min-height: 70vh;
	height: fit-content;
	width: 90vw;
	flex-direction: column;
	padding-top: 50px;
	box-sizing: border-box;
}

.apply-and-subscribe {
	display: flex;
	gap: 5rem;
	
	@media screen and (max-width: 1000px) {
		flex-direction: column;
		gap: 1rem;
	}
}

.apply-buttons {
	width: 200px;
	padding: 1rem 1.5rem;
	margin-top: 1rem;
	text-align: center;
	border-radius: 3rem;
	background-color: var(--primary);
	transition: 300ms ease;
}

.apply-buttons:hover {
	background-color: var(--ternary);
	transform: scale(1.05);
	color: black;
}
/* 
.form {
	margin-top: 2rem;
	min-height: 70%;
	height: fit-content;
	width: 75%;
	flex-direction: row;
	flex-wrap: wrap;

	@media screen and (max-width: 1000px) {
		width: 100%;
	}
}

.form-field {
	width: 50%;
	height: 100px;
	flex-direction: column;
	gap: 5px;

	@media screen and (max-width: 660px) {
		width: 100%;
	}
}

.full-length {
	width: 100%;
	height: auto
}

textarea {
	font-family: 'futura';
	font-size: 22px;
	width: 90%;
	height: 150px;
	min-height: 100px;
}

.full-length input, .full-length label {
	width: 90%;
}

label, input {
	width: 80%;
	font-family: 'futura';

	@media screen and (max-width: 660px) {
		width: 90%;
	}
}

input, textarea {
	border-radius: 12px;
	border: solid grey 2px;
	padding: 10px;
}

button {
	margin-top: 10px;
	font-size: 22px;
	font-weight: 600;
	font-family: 'futura';
	padding: 1rem 1.5rem;
	border: none;
	border-radius: 3rem;
	background-color: var(--primary);
	cursor: pointer;
	transition: 150ms;

	@media screen and (max-width: 1000px) {
		padding: 0.5rem 1rem;
		font-size: 18px;
	}
}

button:hover {
	background-color: var(--ternary);
	transform: scale(1.05);
	color: white;
} */
/* 
input:not(:placeholder-shown):valid {
	border-color: var(--valid);
}

input:not(:placeholder-shown):invalid {
	border-color: var(--invalid);
} */

footer {
	display: flex;
	width: 90vw;
	min-height: 12rem;
	padding: 2rem;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 1000px) {
		flex-direction: column;
		gap: 2rem;
	}
}

footer img {
	height: 5rem;
	width: auto;
}

.footer-links {
	height: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.social-icons {
	width: 20rem;
	display: flex;
	justify-content: space-evenly;
}

.social-icons > *, .footer-links > * {
	cursor: pointer;
	transition: 150ms;
	transform-origin: center;
	text-align: center;
	width: fit-content;
}

.social-icons > *:hover, .footer-links > *:hover, .menu > *:hover {
	transform: scale(1.1);
}

.social-icons img {
	width: 36px;
	height: auto;
}