:root {
	font-family: 'futura';
}

html {
	scroll-behavior: smooth;
	position: relative;
	overflow-x: hidden;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.left {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.col {
	flex-direction: column;
}

.window {
	height: 100vh;
	width: 100vw;
}